<nav class="navbar navbar-expand-lg navbar-dark" style="background-image: linear-gradient(to right,#5f38e2,#5f38e2)">
  <a class="navbar-brand" href="#">Upswing</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/view_portfolio" routerLinkActive="active">
          My Portfolio
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/stock_picker" routerLinkActive="active">
          Stock Picker
        </a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <p class="nav-link" style="color: white; margin-top: 10px;">Hello {{name}}</p>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="logout()">Logout</button>
    </form>
  </div>
</nav>
